
*{ color: white; }
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}



html,body{ 
	width:100%;
	height:100%;
	background:#1b1b1b;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

.navbar {
  position: absolute;
  top: 5%;
  width: 70%;
  background-color: #555;
  overflow: auto;
  margin-left: 15%;
}

.navbar a {
  float: left;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-size: 1.7vh;
  width: 12.285%;
  text-align: center;
}

.navbar a:hover {
  background-color: #1b1b1b;
}

.navbar a.active {
  background-color: #0c4164;
}

canvas{
  display:block;
  
}
.presentation{
  position: absolute;
  top: 15%;
  width: 50%;
  left: 25%;
  font-size: 2.5vh;
}
.apropos{
    position: absolute;
    top: 20%;
    width: 50%;
    left: 25%;
    font-size: 2.5vh;
}
.intro{
  position: absolute;
  top: 25%;
  width: 50%;
  margin-left: 25%;
  font-size: 2vh;
}

.maintit {
  position: absolute;
  top: 50%;
  width: 50%;
  left: 25%;
  font-size: 2.5vh;
}


.slamimg {
  position: absolute;
  width: 20%;
  top: 73%;
  left: 25%;
  border-radius: 10%;
  
}

.slam {
  position: absolute;
  top: 55%;
 left: 25%;
  font-size: 2vh;
}

.slamtxt {
  position: absolute;
  top: 58%;
  left: 25%;
  font-size: 1.5vh;
  width: 20%;
}

.sisrimg {
  position: absolute;
  width: 20%;
  top: 73%;
  left: 55%;
  border-radius: 10%;
  
}

.sisr {
  position: absolute;
  top: 55%;
  left: 55%;
  font-size: 2vh;
}

.sisrtxt {
  position: absolute;
  top: 58%;
  left: 55%;
  font-size: 1.5vh;
  width: 20%;

}




/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
